.menu {
    background-color: #323434;
    padding:1rem;

    li {
        list-style-type: none;
        display: inline;
        padding:1rem;

        a {
            color:$white;
            text-decoration: none;
        }
    }
}