.toolbar {
    @include flex;
    position: absolute;
    background-color:rgb(73, 71, 71);
    width:100%;
    padding:0.3rem;
    z-index:20;

    .color-fields {
        @include flex;
        .color-field {
            border-radius: 50%;
            width:1.6rem;
            height:1.6rem;
            margin:0 0.2rem;
            box-shadow: $box-shadow3;
        }
        &>* {
            cursor: pointer;
        }
    }

    .color-picker,.range-tool {
        cursor: pointer;
    }

    .color-picker {
        border:none;
        outline:none;
        border-radius: 0.2rem;
    }

    &>* {
        margin:.5rem;
    }
}
