.toolbar {
  @include flex;
  position: absolute;
  background-color: $primary-color;
  border-bottom:2px $secondary-color solid;
  width: 100%;
  z-index: 20;
  flex-wrap: wrap;

  .color-fields {
    @include flex;
    .color-field {
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
      margin: 0 0.2rem;
      border:1px $secondary-color solid;
    }
    & > * {
      cursor: pointer;
    }
  }

  .color-picker,
  .range-tool {
    cursor: pointer;
  }

  .color-picker {
    border: none;
    outline: none;
    border-radius: 0.2rem;
  }

  a {
    text-decoration: none;
    border-radius:.1rem;

    img {
      width:55%;
      height:55%;
      display: block;
      margin:0.1rem auto;
    }
  }

  .selected {
    background-color:$secondary-color;
  }
  &>* {
    margin:0.2rem;
  }

  .wrapper {
    @include flex;
  }

}
