$white : #ffff;
$scrollbar-color: #33433f;
$box-shadow1 : rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$box-shadow2 : rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
$box-shadow3 : rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
$primary-color:#e9ecef;
$secondary-color:#ced4da;